https://github.com/coagulant/django-storages-py3/archive/py3.zip
Django==1.7
dj-static==0.0.6
dj-database-url==0.3.0
gunicorn==19.1.0
psycopg2==2.5.3
Pillow==2.5.1
boto==2.32.1
celery==3.1.13
hiredis==0.1.4
django-heroku-redisify==0.2.1
